<!-- 
File: project/show_all_travelers.html
Author: Aaron Huang (ahuan@bu.edu), 11/25/2025
Description: List view that links to each traveler detail page.
 -->

{% extends 'project/base.html' %}

{% block content %}

<div class="container py-3 page-section">
    <div class="d-flex justify-content-end align-items-center mb-3">
        {% with request.user.traveler_set.all|first as profile_traveler %}
        {% if profile_traveler %}
            <a class="btn btn-outline-dark" href="{% url 'traveler' profile_traveler.pk %}">Profile Info</a>
        {% endif %}
        {% endwith %}
    </div>

    <div class="panel p-3">
        <h5 class="mb-3">Travelers</h5>
        {# Loop through all travelers and link to their detail pages #}
        {% for traveler in travelers %}
            <a class="d-block text-decoration-none mb-2" href="{% url 'traveler' traveler.pk%}">{{traveler.full_name}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
