
body {
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background: #d1deeb;
}
h1 {
            margin-top: 0;
            margin-bottom: 16px;
}

img {
            width: 200px;
            height: 200px;
            margin-top: 16px;
            border-radius: 6px;
}
nav ul {
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    list-style: none;
}
ul{
    display: flex;
    gap:20px;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
li {
            margin-bottom: 10px;
            width: "100%";
}
.page {
            max-width: 800px;
            margin: 40px auto;
            padding: 20px;
}

.card {
            background: #cab3b3;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

a {
            color: #222;             
            text-decoration: none;   
}
