<!--
File: mini_insta/delete_post_form.html
Author: Aaron Huang (ahuan@bu.edu), 10/08/2025
Description: Confirmation page to delete a post; offers confirm (POST) and cancel (GET back to profile).
-->
{% extends 'mini_insta/base.html' %}

{% block content %}
<form method ="POST"> <!-- confirm delete -->
    {% csrf_token %}
    <h3>Are you sure you want to delete this post?</h3>
    <p>Caption: {{post.caption}}</p>
    <p>Posted at: {{post.timestamp}}</p>
    <button class="btn" type = "submit">Confirm Delete </button>
</form>

<form action="{% url 'show_profile' profile.pk %}" method = "GET"><!-- cancel delete -->
    <button class="btn" type="submit">Cancel</button>
</form>
{% endblock %}