<!-- 
File: mini_insta/login.html
Author: Aaron Huang (ahuan@bu.edu), 10/23/2025
Description: The login page handles displaying a built in django login form for the user to log themselves into instagram.
-->

{% extends 'mini_insta/base.html' %}

{% block content %}
<h1>Login to Instagram</h1>
<form action = "{% url 'login' %}" method = "POST">
    {% csrf_token %}
    {{form}}
    <input type = "submit" value ="Login">
    <input type = "hidden" name = "next" value = "{% url 'show_feed' %}">

</form>
{% endblock %}