<!-- 
File: mini_insta/show_profile.html
Author: Aaron Huang (ahuan@bu.edu), 09/24/2025
Description: The show_profile.html template displays a profile in mini_insta. 
-->

{% extends 'mini_insta/base.html' %}

{% block content%}
<div class ="profile-info">
        <div class = "profile-username">
                <p>{{profile.username}}</p>
                <p>{{profile.join_date}}</p>
        </div>
        <div>
                <div class="profile-header">
                <a href="{% url 'show_profile' profile.pk %}"><img src = "{{ profile.profile_image_url }}" alt = "{{ display_name }}'s profile" class="profile-img"></a>
                <div>{{profile.display_name}}</div>
                {{profile.get_num_posts}} Posts
                <a href = "{% url 'show_followers' profile.pk %}">{{profile.get_num_followers}} Followers</a>
                <a href = "{% url 'show_following' profile.pk %}">{{profile.get_num_following}} Following</a>
                </div>
                <p id="bio-text">{{profile.bio_text}}</p>
        </div>
        <div>
        {% if request.user.is_authenticated and profile.user_id != user.id %}
                {% if not is_following%}
                <a class ="btn" href ="{% url 'follow' profile.pk %}">Follow</a>
                {% else %}
                <a class ="btn" href ="{% url 'delete_follow' profile.pk %}">Unfollow</a>
                {% endif%}
        {% endif %}
        </div>
</div>



{% if request.user.is_authenticated and profile.user_id == user.id %}
<a class= "btn" href="{% url 'create_post'  %}">Create New Post</a>
<a class= "btn" href ="{% url 'update_profile' %}" >Edit Profile</a>

{% endif %}




<h2>Posts</h2>
<div class ="posts-grid">
        {% for post in profile.get_all_posts %} {% comment %} get all the posts from the profile and iterate through them{% endcomment %}
        {% with post.get_first_photo as photo %} {% comment %} define variable photo from the output of post.get_first_photo{% endcomment %}
                <a href ="{% url 'show_post' post.pk %}">
                {% if photo and photo.get_image_url %}
                        <img src = "{{ photo.get_image_url }}" class="post-tile">
                {% else %} {% comment %} show a not found/no image image {% endcomment %}
                        <img src ="https://cdn2.vectorstock.com/i/1000x1000/70/01/no-image-symbol-missing-available-icon-gallery-vector-42607001.jpg" class="post-tile">
                {% endif %}
                </a> 
        {% endwith %}
{% endfor %}
</div>
{% endblock %}