<!-- 
File: mini_insta/show_post.html
Author: Aaron Huang (ahuan@bu.edu), 9/29/2025
Description: The show_post handles making a detailed view of one post, its timestamp when made, picture, and caption
-->
{% extends 'mini_insta/base.html' %}

{% block content %}
<a href="{% url 'show_profile' post.profile.pk %}" class="btn">←Back</a>
<div class = "media-post">
    {% comment %} iterate through all the photos {% endcomment %}
    {% for photo in post.get_all_photos %} 
        {% if photo.get_image_url %}
            <img src = "{{ photo.get_image_url }}">
        {% endif %}

        {% empty %} {% comment %} if the photo url is empty/not available use a image to show that{% endcomment %}
            <img src ="https://cdn2.vectorstock.com/i/1000x1000/70/01/no-image-symbol-missing-available-icon-gallery-vector-42607001.jpg">
    {% endfor %}
</div>


{% if post.caption %}
<p>{{post.caption}} </p>
{% endif%}


<time>{{post.timestamp}} </time>
<a class="btn" href = "{% url 'delete_post' post.pk %}"> Delete Post</a>
<a class="btn" href = "{% url 'update_post' post.pk %}"> Update Post</a>
{% endblock %}