<!-- 
File: mini_insta/show_profile.html
Author: Aaron Huang (ahuan@bu.edu), 09/24/2025
Description: The show_profile.html template displays a profile in mini_insta. 
-->

{% extends 'mini_insta/base.html' %}

{% block content%}

<table>
        <thead>
                <tr>
                    <th>Username</th>
                    <th>Display Name</th>
                    <th>Bio</th>
                    <th>Join Date</th>
                    <th>Profile Image</th>
                </tr>
        </thead>
        <tr>
                <td>{{profile.username}}</td>
                <td>{{profile.display_name}}</td>
                <td>{{profile.bio_text}}</td>
                <td>{{profile.join_date}}</td>
                <td><a href="{% url 'show_one_profile' profile.pk%}"><img src = "{{profile.profile_image_url}}" alt = "{{display_name}}'s profile"></a></td>
        </tr>
</table>

{% endblock %}